#board {
    display: flex;
}

li {
    font-size: 30pt;
    width: 35pt;
    height: 40pt;
    margin: 5pt;
    text-align: center;
    background-color: white;
}

ul {
    list-style-type: none;
    padding: 0;
  }


  .jumbotron {
      margin-bottom: 0;
      background-image: linear-gradient( blue , purple);
  }

  .bottom {
      display: flex;
      flex-direction: column;
  }

  #usedLetters {
      display: flex;
  }

  p {
      margin: 10pt;
      font-size: 20pt;
  }

  .bottom {
      margin-left: 10pt;
  }